{% extends "model-page.html" %}
{% load static %}

{% block content %}
<div>
    <a class="button" href="evento/"><button type="button">Novo Evento</button></a>
      <ul>
        <table class="table">
          <thead>
              <tr>
                <td class="line" style="font-size: 22px; background-color: #d0d0d0">Titulo</td>
                <td class="line" style="font-size: 22px; background-color: #d0d0d0">Data</td>
                <td class="line" style="font-size: 22px; background-color: #d0d0d0">Local</td>
                <td class="ota" style="background-color: #d0d0d0">Editar</td>
                <td class="ota" style="background-color: #d0d0d0">Excluir</td>
              </tr>
            </thead>
          </table>
      {% for evento in eventos %}
        <table class="table">
          <tbody>
            <tr cellspacing="0">
              <td class="line">{{evento.titulo}}</td>
              <td class="line">{{evento.get_data_evento}}</td>
              <td class="line">{{evento.local_evento}}</td>
              <td class="ota"> <a href="evento/?id={{evento.id}}"><img src="/static/edit_ico.png" title="Editar"></a> </td>
              <td class="ota"> <a href="evento/delete/{{evento.id}}/"><img src="/static/delete_ico.png" title="Delete"><a> </td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
      </ul>
</div>
{% endblock %}
