{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet" href="{% static '1css.css'%}">
</head>
<body class="body">

  <form class="container" action="submit" method="POST">{% csrf_token %}
    <div class="box">
        <h3 align="center">ACESSO</h3>
        <div align="center">
            <label>Usuário:</label>
            <input style="margin-botton: 15px" type="text" name="username">
        </div>
        <br><br>
        <div align="center">
            <label style="margin-right: 10px">Senha:</label>
            <input type="password" name="password">
        </div>
        <br><br>
        <div align="center">
            <button style="padding-left:91px ;padding-right: 91px;" stype="submit">Entrar</button>
        </div>
    </div>
  </form>
    {% for message in messages %}
        <strong>Erro: </strong>{{ message }}
    {% endfor %}
</body>
</html>